<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhch.andex"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />
    <!-- 访问网络 , 网络/WIFI 状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- GPS 地点数据 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 写文件 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pulltorefresh.PullLoadImageAct"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name=".activitydemo.LifeCycleDemo" />
        <activity android:name=".activitydemo.KilledActivityDemo" />
        <activity
            android:name=".activitydemo.ActionBarDemo"
            android:label="@string/title_activity_action_bar_demo"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity android:name=".drawer.DrawerDemo" />
        <activity android:name=".image.RountImageUseXmlDemo" />
        <activity android:name=".shape.TwoRoundCorner" />
        <activity android:name=".customview.demo.UseCustomDrawable" />
        <activity android:name=".customview.demo.UseCustomDrawableFromXml" />
        <activity android:name=".customview.demo.UseCircleProgressBar" />
        <activity android:name=".widget.demo.ProTextViewDemo" />
        <activity android:name=".http.demo.UseAsynHttpClient" />
        <activity android:name=".media.TakePhotoDemo" />
        <activity android:name=".animation.BasicPropertyAnimation" />
        <activity android:name=".dialog.DialogDemo" />
        <activity android:name=".database.sqlite.SqliteDemo" />
        <activity android:name=".system.SystemDataDemo" />
        <activity android:name=".image.FrescoSimpleDemo" />
        <activity android:name=".syswidget.SpinnerDemo" />
        <activity android:name=".syswidget.TabHostDemo" />
        <activity android:name=".syswidget.ActionBarTabDemo" />
        <activity android:name=".syswidget.SmallButtonsDemo" />
        <activity android:name=".sensor.AccelerateSensorDemo" />
        <activity android:name=".sensor.MagneticSensorDemo" />
        <activity android:name=".sensor.GravitySensorDemo" />
        <activity android:name=".sensor.LightSensorDemo" />
    </application>
</manifest>
